<!DOCTYPE html>
<html>
<head>
    <title>××××</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="style/contacts.css" type="text/css">
    <link rel="stylesheet" href="progress/progressjs.css" type="text/css">
    <link rel="stylesheet" href="alert/alertify.core.css" type="text/css">
    <link rel="stylesheet" href="alert/alertify.default.css" type="text/css">
    <style>
        body,html{
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        *{
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        ul,li{
            margin: 0;
        }

        #wrapper{
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            position: absolute;
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }

    </style>

    <script src="angular.js"></script>
    <script src=""></script>
    <script src="mock/lianxiren.js"></script>

    <script src="progress/progress.js"></script>
    <script src="alert/alertify.js"></script>
    <script src="zepto.js"></script>

</head>
<body>
<div id="wrapper" ng-app="phonecatApp" ng-controller="PhoneListCtrl" >
    <div class="container">
        <div class="c-comments hide">
            <textarea></textarea>
            <div class="c-range">
                <input type="range" value="10">
            </div>
            <div class="c-grade">
                10
            </div>
            <div class="c-confirm">确定</div>
        </div>
        <div class="item" ng-repeat="phone in phones">
            <div class="content">
                <div class="c-left">{{phone.name}}</div>
                <div class="c-right">{{phone.phone}}</div>
                <div class="c-btn" ng-click="comment($index)">点评</div>
            </div>
        </div>
    </div>
</div>
<script>

    var phonecatApp = angular.module('phonecatApp', []);

    var contacts;
    if(typeof window.Android == "undefined"){
        allcontacts = PhoneContacts;
    }
    else{
        allcontacts = JSON.parse(Android.GetAllContacts()) || CTS;
    }


    var currTel = "";
    var currRank = "";
    var currComment = "";

    phonecatApp.controller('PhoneListCtrl', function ($scope) {
        $scope.phones = allcontacts;

        $scope.comment = function(index){
            currTel = $scope.phones[index].phone;
            $(".c-comments").removeClass("hide");
        }
    });

    //确定.
    $(".c-confirm").on('click',function(){
        var $comments = $(".c-comments");
        var $textarea = $(".c-comments textarea");
        var pj = progressJs();

        currComment = $textarea.val();

        pj.start().autoIncrease(30, 500);

        postComment(function(result){
            $textarea.val("");

            if(result){
                pj.end();
                $comments.addClass("hide");
                alertify.success("评论成功",2000);
            }
            else{
                pj.end();
                $comments.addClass("hide");
                alertify.error("评论失败",2000);
            }
        });
    })

    function postComment(callback){

        var item = {
            phone: 13389892,
            who: currTel.toString(),
            rank: currRank,
            comment: currComment
        };


//        $.ajax({
//            method: 'GET',
//            url: 'http://192.168.0.103:3000/all',
//            data: {},
//            dataType: 'jsonp',
//            context: document.body,
//            crossDomain: true,
//            jsonp: "callback",
//            success: function(data,textStatus,jqXHR){
//                alertify.success(data);
//            },
//            error: function(jqXHR, textStatus,errorThrown){
//                alertify.error(textStatus);
//            }
//        });



        $.ajax({
            url: 'http://192.168.0.103:3000/add',
            context: document.body,
            type: 'GET',
            data: item,
            cache : false,
            dataType: "jsonp",
            contentType: "application/json",
            success: function(data) {
                console.log('success');
                callback(true);
            },
            error: function(xhr,type){
                alertify.error(xhr.status || "s");
                callback(false);
            }
        });

    }

    $(".c-range input").on("change",function(){
        var val = Math.floor($(this).val()/10);
        $(".c-grade").text(val);

        currRank = val;
    });
</script>
</body>
</html>